<ul class = "sidebar-nav">
    <li>
        <a href="/tasks">Home</a>
    </li>
    <li>
        <a href="/tasks/tasks">All tasks</a>
    </li>
    <li>
        <a href="/tasks/statusses">All statusses</a>
    </li>
    <li>
        <a href="/tasks/categories">All categories</a>
    </li>
    <li>
        <hr>
    </li>
    <li>
        <a href="/tasks/task/create">Create a new task</a>
    </li>
    <li>
        <a href="/tasks/category/create">Create new category</a>
    </li>
    <li>
        <a href="/tasks/status/create">Create new status</a>
    </li>
</ul>
