<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Title</title>
        <%- include ('partials/header'); -%>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <!-- block menu -->
                </div>
                <div class="col-sm-10">

                    <h1><%= title %></h1>
                    <p>Welcome to <%=title %>, a very basic website to test node.js.</p>
                    <h1>Content </h1>
                    <ul>
                        <li>
                            <a href="/tasks/task_start">ToDo List</a>
                        </li>
                        <li>
                            <a href="/users">User page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>    
</html>