<ul class = "sidebar-nav">
    <li>
        <a href="/weather">Current weather</a>
    </li>
    <li>
        <a href="/weather/daily">Daily forecast</a>
    </li>
    <li>
        <a href="/weather/forecast">Graphs</a>
    </li>
</ul>
