<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Line art 3">

  <title><%= title %></title>
  <%- include ('../partials/header'); -%>
  <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js">
  </script>
  <script src="circles.js"></script>
  <link rel="stylesheet", href="/stylesheets/circles.css">


</head>

<body>
  <div class="container">
    <%- include ('../partials/navigation'); -%>

    <h1>Circles </h1>

    <P>Here you can see a first experiment with the P5 library. By moving the mouse over the green box, you can create the most beatifull pictures.</P>
    <p></p>

  </div>

</body>
</html>
