<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Line art 2">

  <title><%= title %></title>
  <%- include ('../partials/header'); -%>
  <script src="lineart2.js"></script>
  <link rel="stylesheet", href="/stylesheets/lineart2.css">

</head>

<body>
  <div class="container">
    <%- include ('../partials/navigation'); -%>

    <h1>Line art 2 </h1>

    <div class="border">
      <div class="frame">
        <canvas></canvas>
      </div>
    </div>
  </div>


</body>
</html>
